<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uwimonacs.fstmobile">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/fstlogofinal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, label">
        <activity android:name=".activities.Splash"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SASLoginActivity"
            android:theme="@style/AppTheme.NoActionBar.SASLogin" />
        <activity android:name=".activities.SASTimetableActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.VideoListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.VideosListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.PlayerActivity"
            android:theme="@style/AppTheme.NoActionBar.PlayerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.VideoListActivity" />
        </activity>
        <activity
            android:name=".activities.FAQActivity"
            android:label="@string/title_activity_faq"
            android:theme="@style/AppTheme.NoActionBar.FAQActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ScholarshipActivity"
            android:label="@string/title_activity_scholarship"
            android:theme="@style/AppTheme.NoActionBar.ScholarshipActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity android:name=".activities.ScholarshipDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ScholarshipActivity" />
        </activity>
        <activity
            android:name=".activities.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:theme="@style/AppTheme.NoActionBar.ContactsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <service
            android:name=".account.AuthenticationService"
            android:enabled="true"
            android:exported="true"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity android:name=".activities.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

        <activity
            android:name=".activities.SASTranscriptActivity"
            android:theme="@style/AppTheme.NoActionBar.NewsDetailActivity"
            android:label="@string/transcript_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar.Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="fstmobile.db" />

        <!-- DB Version -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3" />

        <!-- Models -->
        <meta-data
            android:name="AA_MODELS"
            android:value="com.uwimonacs.fstmobile.models.Contact,com.uwimonacs.fstmobile.models.FAQ, com.uwimonacs.fstmobile.models.News,com.uwimonacs.fstmobile.models.Place,com.uwimonacs.fstmobile.models.Scholarship,com.uwimonacs.fstmobile.models.SASConfig,com.uwimonacs.fstmobile.models.Student,com.uwimonacs.fstmobile.models.ImageItem,com.uwimonacs.fstmobile.models.Event" />

        <activity
            android:name=".activities.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar.GalleryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.GalleryDetailActivity"
            android:label="@string/title_activity_gallery_detail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GalleryActivity" />
        </activity>
        <activity
            android:name=".activities.EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme.NoActionBar.EventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.PermissionsActivity"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>